@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #150e28;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Clash Display', sans-serif;
}
